section#about img {
  --b: 10px; /* control the size */
  padding: var(--b);
  border: calc(2*var(--b)) solid #0000;
  outline: 2.5px solid #f5f0ce;
  outline-offset: calc(-1*var(--b));
  background: conic-gradient(from 90deg at 2.5px 2.5px,#0000 90deg,#f5f0ce 0);
}

