body {
    color: $main-brown;
}
h2 {
    padding: 30px 15px;
    padding-top: 0;
    font-family: 'Amatic SC', cursive;
    font-size: 35px;
    font-weight: 600;
    text-shadow: 1px 1px white;
    text-align: center;
}
p{
    font-size: 20px;
    font-family: 'Work Sans', sans-serif;
}
h3 {
    font-size: 20px;
    font-weight: 900;
    font-family: 'Work Sans', sans-serif;
}

@media only screen and (min-width: 768px) {
    h3 {
        font-size: 30px;
    }
}
@media only screen and (min-width: 1024px) {
    h2 {
        font-size: 45px;
    }
}